.container{
  max-width: 1170px;
  margin: 20px auto;
}

.row {
  height: 200px;
}

.row [class*="col-"]{
  float: left;
  height: 100%;
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
  background-color: pink;
}

.row .row {
  padding: 5px;
}

.row .row [class*="col-"]{
  background-color: rgb(201, 89, 86);
  border: 1px solid white;
}
