.container {
  max-width: 1170px;
  margin: 20px auto;
}

.row {
  height: 100px;
}

.row [class*="col-"]{
  float: left;
  height: 100%;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  background-color: white;
}
