.container {
  max-width: 1170px;
  margin: 20px auto;
}

.row {
  height: 100px;
}

.row [class*="col-"]{
  float: left;
  height: 100%;
  width: 100px;
  text-align: center;
  line-height: 100px;
  background-color: white;
}

.row .yellow {
  background-color: yellow;
}

.row .black {
  background-color: black;
}

.row .blue {
  background-color: blue;
}

.row .col-1 img {
  height: 100px;
}
